<p style="color: green"><%= notice %></p>

<h1 class="text-light text-center">Your Quizzes</h1>
<hr class="hr w-75 mx-auto text-light">

<div id="quizzes">
  <% @quizzes.each do |quiz| %>
    <%= render quiz %>
    <p>
      <%= link_to "Show this quiz", quiz %>
    </p>
  <% end %>
</div>

<%= link_to "New quiz", new_quiz_path, class: "btn btn-primary m-3" %>
