<div id="<%= dom_id question_bank %>">
  <p>
    <strong>Name:</strong>
    <%= question_bank.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= question_bank.description %>
  </p>

</div>
