<h1>Editing question bank</h1>

<%= render "form", question_bank: @question_bank %>

<br>

<div>
  <%= link_to "Show this question bank", @question_bank %> |
  <%= link_to "Back to question banks", question_banks_path %>
</div>
