<div id="<%= dom_id quiz_question %>">
  <p>
    <strong>Question:</strong>
    <%= quiz_question.question_id %>
  </p>

  <p>
    <strong>Quiz:</strong>
    <%= quiz_question.quiz_id %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= quiz_question.points %>
  </p>

</div>
