<p style="color: green"><%= notice %></p>

<h1>Quiz questions</h1>

<div id="quiz_questions">
  <% @quiz_questions.each do |quiz_question| %>
    <%= render quiz_question %>
    <p>
      <%= link_to "Show this quiz question", quiz_question %>
    </p>
  <% end %>
</div>

<%= link_to "New quiz question", new_quiz_question_path %>
