/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $primary: #39A0FF;

 @import "bootstrap";
 
 .get-started-button {
    width: 310px;
    background-color: #9CCF75;
    color: white;
 }

 .get-started-button:hover{
   background-color: #577540;
   color: white;
 }

 body{
   background-color: #272727;
 }

 .home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 25px 25px 25px;

    h1 {
        padding-bottom: 50px;
    }
 }



 nav, footer {
    background-color: #545454;
    color: white;
    padding: 3%;
    border: none;
 }

 .nav-item {
    color: white;
 }

 .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: right;
    
    .nav-item {
        margin-right: 10px;
    }
 }

 nav {
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
 }

 .create-quiz-btn {
    width: 130px;
    background-color: #39A0FF;
    color: white;
 }
 .home-main{
   padding-top: 300px;
   padding-bottom: 300px;
 }

 .create-quiz-btn:hover{
   background-color: #296cac;
 }

 footer{
   display: flex; 
   justify-content: center;  
 }
